set -euo pipefail

_PROJECT_ROOT="$(git rev-parse --show-toplevel)"


export PATH="${_PROJECT_ROOT}/.tools/bin:$PATH"

command -v pixi >/dev/null || {
    curl -fsSL https://pixi.sh/install.sh | PIXI_NO_PATH_UPDATE=1 PIXI_BIN_DIR=${_PROJECT_ROOT}/.tools/bin bash
}

pixi install -e dev
pixi install -e all

# enable local environment
eval "$(pixi shell-hook -e dev)"

# PASSAGE RELATED STUFF
export PASSAGE_DIR="${_PROJECT_ROOT}/modules/passage/store"
export PASSAGE_IDENTITIES_FILE="${_PROJECT_ROOT}/modules/passage/identities"
export PASSAGE_AGE="${_PROJECT_ROOT}/"

if [ ! -f "${_PROJECT_ROOT}/.tools/bin/passage" ]; then
	mkdir -p $_PROJECT_ROOT/.tools/src
	cd $_PROJECT_ROOT/.tools/src
	git clone https://github.com/FiloSottile/passage.git
	cd passage && git checkout 4e4c5ae14be91833791d45608f50868175c1490f
    make PREFIX=$_PROJECT_ROOT/.tools install
fi
